/* Start of styles.css /css/styles.css */

/* Make the site the full screen */
html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #121042;
  margin: 0;
  overflow-x: hidden;
  height: 175%;
}

#bg-overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(40px) saturate(100%);
  z-index: 1;
}

/* Profile Card */
#profile-card {
  position: absolute;
  width: 60vw;
  min-height: 20vh;
  z-index: 2;
  background-color: rgba(10, 15, 162, 0.356);
  border-radius: 2rem;
  border: #bc13fe solid 3px;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #cf1ac3,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
  padding: 20px;
  padding-bottom: 40px;
}

#logo {
  position: absolute;
  left: 50%;
  translate: -50%;
  top: -100px;
}

h1 {
  padding-top: 100px;
  animation: pulsate 1.5s infinite alternate;
}

#main {
  position: absolute;
  left: 50%;
  top: 60%;
  margin-top: 150px;
}

/* form / text area */
textarea {
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #cf1ac3,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}

/* animation pulsate */

@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #bc13fe,
      0 0 80px #bc13fe, 0 0 90px #bc13fe, 0 0 100px #bc13fe, 0 0 150px #bc13fe;
  }

  0% {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px #bc13fe,
      0 0 45px #bc13fe, 0 0 55px #bc13fe, 0 0 70px #bc13fe, 0 0 80px #bc13fe;
  }
}

/* Blob Stuff */
#bg-blob1 {
  border-radius: 60% 40% 30% 70% / 100% 85% 92% 74%;
  position: absolute;
  left: 30vw;
  top: 25vh;
}

.blob {
  background: linear-gradient(
    47deg,
    rgba(255, 88, 139, 1) 21%,
    rgb(0 164 173) 67%,
    rgba(118, 74, 166, 1) 81%
  );
  width: 17vw;
  height: 17vw;
  animation: animate 20s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite
    alternate forwards;
}

@keyframes animate {
  0% {
    transform: translate(40%, -25%);
    border-radius: 60% 40% 30% 70% / 100% 85% 92% 74%;
  }
  50% {
    transform: translate(0%, 13%);
    border-radius: 20% 71% 47% 70% / 81% 15% 22% 54%;
    rotate: 41deg;
    scale: 1.15;
  }
  100% {
    transform: translate(-35%, 39%);
    border-radius: 100% 75% 92% 74% / 60% 80% 30% 70%;
    rotate: -60deg;
    scale: 1.05;
  }
}
